<!-- <app-home></app-home> -->
<!-- <div class="app-home"></div> -->     
 <!-- <div app-home></div>                       -->
 <!-- <app-sinterpolation></app-sinterpolation> -->
  <!-- <app-ebinding></app-ebinding> -->
   <!-- <app-pbinding></app-pbinding> -->
    <!-- <app-classbinding></app-classbinding> -->
     <!-- <app-stylebinding></app-stylebinding> -->
      <!-- <app-parent></app-parent> -->
       <router-outlet></router-outlet>
      <!------------------Customer-----------------data--------------------------------->
       <!-- <div class="jumbotron">
        <h1 class="text-center">Customer Data</h1>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
            <div class="col-md-4">
              <app-customer></app-customer>
          </div>
          <div class="col-md-4"></div><
        </div> -->
       <!-------------Student Admission form----------------------->
        <!-- <div class="jumbotron">  -->
        <!-- <h1 class="text-center">STUDENT ADMISSION FORM</h1> -->
         <!-- </div> -->
        <!-- <div class="row">
          <div class="col-md-4"></div>
            <div class="col-md-4"> -->
              <!-- <app-student></app-student> -->
          <!-- </div>
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
        </div>  -->
<!---------------------------Employee Registration Form---------------------------------->
<!-- <div class="jumbotron"></div>

<div class="row">
  <div class="col-md-4"></div>
    <div class="col-md-4">----->
      <!-- <app-employee-registration></app-employee-registration> -->
  <!---------</div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</div> 


navbar start -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#"><h1>BaluStore</h1></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Products</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li> -->

          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->
        <!-- </ul> -->
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      <!-- </div>
    </div>
  </nav> -->
 <!-- navbar end -->
  <!-- sider start -->
  <!-- <section id="banner" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#banner" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#banner" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#banner" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/images/lap1.jpeg" class="d-block w-100" alt="Laptop1">
      </div>
      <div class="carousel-item">
        <img src="../assets/images/lap3.jpeg" class="d-block w-100" alt="laptop3">
      </div>
      <div class="carousel-item">
        <img src="../assets/images/lap5.jpeg" class="d-block w-100" alt="Laptop5">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#banner" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#banner" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </section> -->
   <!-- sider end -->
    <!-- products start -->
        <!-- <section id="products" class="container">
          <h1 class="text-center text-primary my-4"> New laptops</h1>
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-sm-12 col-12 mb-3">
                <div class="card">
                  <img src="../assets/images2/hp.jpeg">
                  <div class="card-body">
                    <h3 class="card-title">HP LAPTOP</h3>
                    <p>lorem ipsum dolor amet constructor adipsing elit.totam mairoes error nemo earum.nobis aperium dolres
                      veniam,animi aliqum quis non ilum dicta maxime nemo ipsam,officils fugit recinids sequi.
                    </p>
                    <button class="btn btn-danger me-2">cost:30000/-</button>
                    <button class="btn btn-info me-2">warrenty:1year</button>
                    <button class="btn btn-success">Cart</button>
                   </div>
                 </div>
               </div>
             </div> -->
          <!-- </div>
           <div class="col-md-4 col-sm-12 col-12 mb-3">
                <div class="card">
                  <img src="../assets/images2/dell.jpeg">
                  <div class="card-body">
                    <h3 class="card-title">DELL LAPTOP</h3>
                    <p>lorem ipsum dolor amet constructor adipsing elit.totam mairoes error nemo earum.nobis aperium dolres
                      veniam,animi aliqum quis non ilum dicta maxime nemo ipsam,officils fugit recinids sequi.
                    </p>
                    <button class="btn btn-danger me-2">cost:40000/-</button>
                    <button class="btn btn-info me-2">warrenty:1year</button>
                    <button class="btn btn-success">Cart</button>
                   </div>
                 </div>
               </div>
             <div class="col-md-4 col-sm-12 col-12 mb-3">
                <div class="card">
                  <img src="../assets/images2/lenovo.jpeg">
                  <div class="card-body">
                    <h3 class="card-title">LENOVO LAPTOP</h3>
                    <p>lorem ipsum dolor amet constructor adipsing elit.totam mairoes error nemo earum.nobis aperium dolres
                      veniam,animi aliqum quis non ilum dicta maxime nemo ipsam,officils fugit recinids sequi.
                    </p>
                    <button class="btn btn-danger me-2">cost:50000/-</button>
                    <button class="btn btn-info me-2">warrenty:1year</button>
                    <button class="btn btn-success">Cart</button>
                   </div>
                 </div>
               </div>
             <div class="col-md-4 col-sm-12 col-12 mb-3">
                <div class="card">
                  <img src="../assets/images2/acer.jpeg">
                  <div class="card-body">
                    <h3 class="card-title">ACER LAPTOP</h3>
                    <p>lorem ipsum dolor amet constructor adipsing elit.totam mairoes error nemo earum.nobis aperium dolres
                      veniam,animi aliqum quis non ilum dicta maxime nemo ipsam,officils fugit recinids sequi.
                    </p>
                    <button class="btn btn-danger me-2">cost:60000/-</button>
                    <button class="btn btn-info me-2">warrenty:1year</button>
                    <button class="btn btn-success">Cart</button>
                   </div>
                 </div>
               </div>
               <div class="col-md-4 col-sm-12 col-12 mb-3">
                <div class="card">
                  <img src="../assets/images2/mi.jpeg">
                  <div class="card-body">
                    <h3 class="card-title">MI LAPTOP</h3>
                    <p>lorem ipsum dolor amet constructor adipsing elit.totam mairoes error nemo earum.nobis aperium dolres
                      veniam,animi aliqum quis non ilum dicta maxime nemo ipsam,officils fugit recinids sequi.
                    </p>
                    <button class="btn btn-danger me-2">cost:80000/-</button>
                    <button class="btn btn-info me-2">warrenty:1year</button>
                    <button class="btn btn-success">Cart</button>
                   </div>
                 </div>
               </div>
               <div class="col-md-4 col-sm-12 col-12 mb-3">
                <div class="card">
                  <img src="../assets/images2/vivo.jpeg">
                  <div class="card-body">
                    <h3 class="card-title">VIVO LAPTOP</h3>
                    <p>lorem ipsum dolor amet constructor adipsing elit.totam mairoes error nemo earum.nobis aperium dolres
                      veniam,animi aliqum quis non ilum dicta maxime nemo ipsam,officils fugit recinids sequi.
                    </p>
                    <button class="btn btn-danger me-2">cost:70000/-</button>
                    <button class="btn btn-info me-2">warrenty:1year</button>
                    <button class="btn btn-success">Cart</button>
                   </div>
                 </div>
               </div>
             </section> -->
     <!-- products end -->
      <!-- footer start -->
       <!-- <footer class="bg-dark text-white p-3 text-center mt-5">
         &copy;All Rights Reserved. Design and Developed by <a href="" target="blank">Balu</a> 

       </footer> -->
       <!-- footer end -->