<!-- <h1 style="text-align:center;color:blue;">fee struceture</h1>
<p style="text-align:center;">core java=5000</p>
<p style="text-align:center;">angualr=2000</p>
<p style="text-align:center;">react=3000</p>
<p style="text-align:center;">html=1500</p>
<p style="text-align:center;">css=1000</p>
<p style="text-align:center;">js=6000</p>
<p style="text-align:center;">spring=10000</p> -->
<p *ngFor="let course of courses">
    <a href="javascript:void(0)" (click)="redirectToURL(course.id)"></a>
</p>